._container{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(30,100,125,1) 85%);

}


._conetnt{
    width: 100%;
    padding: 10px 25px;
    margin: 5px;
    background-color: white;
    box-shadow:
    1px 0.9px 0.8px -2px rgba(0, 0, 0, 0.012),
    2.1px 2px 1.8px -2px rgba(0, 0, 0, 0.017),
    3.6px 3.3px 3px -2px rgba(0, 0, 0, 0.021),
    5.4px 5px 4.6px -2px rgba(0, 0, 0, 0.024),
    7.8px 7.1px 6.6px -2px rgba(0, 0, 0, 0.027),
    11px 10.1px 9.4px -2px rgba(0, 0, 0, 0.03),
    15.6px 14.3px 13.3px -2px rgba(0, 0, 0, 0.034),
    22.6px 20.8px 19.3px -2px rgba(0, 0, 0, 0.038),
    34.9px 32.1px 29.8px -2px rgba(0, 0, 0, 0.045),
    62px 57px 53px -2px rgba(0, 0, 0, 0.06)
    ;
}


@media screen and (min-width:990px) {
    ._conetnt{
        width: 65%;
    }
}