<div class="container">
    <div class="image">
        <div class="text">
            <h1>i-kaly</h1>
            <h2>Plateforme de commande et de livraison de "sakafo" express </h2>
        </div>
        <img src="/assets/image/image-login.jpg" alt="">
    </div>
    <div class="login-form">
        <h2>Connectez - vous</h2>
        <mat-form-field class="example-full-width input" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field class="example-full-width input" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
       
        <button type="submit">Connexion</button>
        <a  href="">Inscription</a>
    </div>
</div>