<div class='product'>
    <div class='product__title'>
        <p>PHO RESTO</p>
    </div>
    <div class='product__separate'>
    </div>
    <div class='product__packshot'>
        <picture style="display: contents;" >
            <img src="/assets/image/Frite.jpg" alt="frite" />
        </picture>
    </div>
    <div class='product__bottom'>
        <h2>Frity PACK</h2>
        <h3>Snack</h3>
        <p>4000 Ariary</p>
    </div>
    <div class='product__cta'> 
        <div onClick={cta.shopNowClick}>
            <img src="/assets/icon/shop.svg" alt="shop" />
            <span class='cta__have-cta'>Ajouter Panier</span>
        </div>
    </div>
</div>
