<div class="banner">
    <div class="text">
        <h1>i-kaly</h1>
        <p>Service de vente et de livraison express de plusieurs restaurants <br> à Antananarivo</p>
    </div>
    <picture class="banner__image">
        <source media="(min-width:990px)" srcset="/assets/image/banner-backgroun-desktop.jpg">
        <source media="(max-width:990px)" srcset="/assets/image/banner-background-mobile.jpg">
        <img class="banner__image" src="/assets/image/banner-backgroun-desk.jpg" alt="background">
    </picture>
</div>