
<div class="header">
    <div class="brand">
        <img src="/assets/icon/restaurant.png" width="40" height="40" alt="logo">
        <p class="brand__text">
            i-kaly
        </p>
        <img src="/assets/icon/restaurant.png" width="40" height="40" alt="logo">

    </div>
    <div class="sandwich-menu">
        <input type="checkbox" (click)="menuToogle()" id="check" >
        <label for="check">
            <img src="/assets/icon/menu.png" width="40" height="40" alt="menu">
        </label>
    </div>
    <nav #nav class="nav-hide" id="nav">
        <a routerLink="/client" active>Acceuil</a>
        <a routerLink="/client/panier"  [matBadge]="badgePanier" matBadgeOverlap="large" matBadgeColor="accent">Panier</a>
        <a href="">Commande</a>
        <a href="#" (click)="logOut()">Déconnexion</a>
    </nav>
</div>
